__pycache__
*.egg-info
build
TSB_AD/Datasets/TSB-AD-M/
/home/nicol/TSB-AD/Datasets/TSB-AD-M
run_scripts
Datasets/TSB-AD-Datasets
lightning_logs
TSB_AD/models/NormA.py
TSB_AD/models/Series2Graph.py
TSB_AD/models/KShapeAD.py
TSB_AD/models/KShapeAD_tslearn.py
TSB_AD/main_M.py
benchmark_exp/thresh/
dist/
